@charset "UTF-8";
/*
==================================================================================
Global rules
==================================================================================
*/
article {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 3px double #00af64;
}
article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
html {
    margin: 2%;
    /*Marginal så innehållet inte stöter in i kanten*/
}
body {
    margin: auto;
    max-width: 860px;
    font-family: "Helvetica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
    /*Flera olika sans-serif fonter för att säkerställa vid olika browsers osv */
    font-size: 100%;
    /* Lägg till deklarationer här */
}
/*
section, header, footer, nav, div[role=main] {
    outline: 1px solid red;
}
*/
/*
==================================================================================
Rules for reusable components
==================================================================================
*/          

/* dborder ska vara här - avsnitt 11.7 */

/*
==================================================================================
Page header, all pages
==================================================================================
*/
header {
     text-align: center;
}
/*
==================================================================================
Section rule + H1 rule
==================================================================================
*/
h1 {
    font-family: 'Merienda', cursive;
    /*Gör en ny font för H1 men har även kursiv (standard) som en backup*/
}
h1::first-letter {
    color: #00AF64;
    /*Snyggt sätt att få första bokstaven till nån färg eller liknande, innan denna lektionen
    hade jag använt mig av .tagline och gjort en helt ny klass i HTML dokumentet, detta var mycket
    smidigare.*/
}
section {
    display: inline-block;
    width: 20%;
    margin-right: 4%;
    /* Gör så alla sektioner "trycks" ihop till en rad, max width 20% och marginal till höger på 4% */
}
/*
==================================================================================
Page footer rules
==================================================================================
*/
footer {
    margin-top: 3em;
    text-align: center;
    color: #999;
    /*Centrerar footern och ger lite marginal till innehåll ovanför */
}
/* TODO Avsnitt 5.2 */

/*
==================================================================================
Main site navigation
==================================================================================
*/

/* Alla regler för .menu med relaterade element */

/* TODO Avsnitt 5.2, 5.4, 5.5, 5.6, 11.4.2 */


/*
==================================================================================
Start page rules
==================================================================================
*/

/* Regler med klassen .startpage, avsnitt 5.2, 5.3 och 5.8 */
.startpage {
    display: flex; /*Är lite familjär med flexbox och det jag använder mest, hade använt flex här också*/
    flex-wrap: wrap;
    justify-content: space-between;
}
.startpage header, .startpage footer {
    flex: 0 0 100%; /*Ny teknik, sökte upp på Mozilla web och lärde mig väldigt mycket*/
}
.startpage section {
    flex: 0 0 21%; /*Står att man ska skriva 22%, men fick önskat resultat när jag sänkte till 21%*/
}
.startpage h1 {
    font-size: 400%; /*Sänker till 400% för att det blir bättre på mobilvy då*/
}
.startpage .logo {
    width: 235px;
    height: 198px;
}
.hwrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* Ett bra sätt att använda sin header på. Jag brukar köra inline på länkarna till höger och sen ha loggan till vänster*/

}
.hwrap > a {
    margin-right: 30px;
    /*Får ner "Vi hjälper dig förstå" under. Mer läsvänligt */
}
.tagline {
    font-size: 120%;
    padding: 0.5em;
    border-top: 3px double #00AF64; /*Lägger till classen tagline på <p> för att få önskad effekt */
    border-bottom: 3px double #00AF64; /*På exempel bilden är det en border bottom med samma färg så lägger till den */
    margin: 1em 0;
    width: 100%; /* La till en width 100% för att bordern ska täcka hela "sidan". Använder 100% för det funkar med flex
    och responsive webdesign, alltså att de funkar på surfplatta och mobil */
}
.menu > li,
.menu > h2 {
    font-family: 'Merienda', cursive; /*Som H1*/
    box-shadow: inset 0 0 20px #007241; /*En snygg bakgrund på menyerna vid H2 texten som skapar stil*/
    border-radius: 50%; /*Border radius 50% gör en cirkel, snyggt till proilbilder osv*/
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #f5f5f5;
    text-align: center;
    /*Centrerar h2 texten på menyerna, även lite margin och padding för stil */
}
.menu a:link, .menu a:visited {
    text-decoration: none;
    color: #000;
    /*Tar bort underlinen och sätter en snygg färg som inte ändras när man tryckt. Går att highlighta med :hover*/
}
.menu a:focus, .menu a:hover {
    text-decoration: underline;
    color: #A62F00;
    /*Gör att det blir underline när man hoverar eller fokusar på <a> länkarna i menyn, ändrar även färg då*/
}
.menu a:active {
    text-decoration: underline;
    color: #FF4900;
    /*När man är på te.x "kontakt" sidan och har länkar så lyser den med denna färg och har en underline*/
}
@media only screen and (max-width: 768px) {
    .menu {
      min-width: 300px;
    }
  }
  /* Lägger en @media för att inte låta sektionerna bli för små, det gör det snyggare när man surfar te.x på surfplatta*/
/*
==================================================================================
Subpages
==================================================================================
*/

/* TODO Avsnitt 11.4.1, 11.6,  */
.flex {
    display: flex; /*Måste få grejerna att flexa, följde instruktinerna i boken men fick inte samma layout, utan tog en ny <div> för att
    få en parent och har nav och div=main till childrens. */
}
.subpage .tagline {
    border-top: none;
}
.subpage .logo {
    width: 146px;
    height: 123px;
}
.subpage h1 {
    font-size: 2.6rem; /*260%*/
}
.subpage .hwrap {
    justify-content: space-between;
}
.subpage .hwrap > a, nav {
    flex: 0 1 20%;
    min-width: 146px;
    margin-right: 10px;
}
.subpage .hwrap > h1, div[role=main] {
    flex: 1 1 300px;
}
h1 > span {
    color: #a62f00;
} 
.menu {
    margin: 1em 0;
    padding: 0;
}
.menu li {
    margin: 0 0 1rem;
    list-style: none;
} /*Som boken säger så skapar man en egen design av <ul> och <li> och lägger till egna margins och padding.*/
.dborder {
    border: 1px solid #ccc;
        padding: 5px;
}
figure {
    float: left;
    margin: 0;
}
figure img {
    width: 128px;
    height: 128px;
}
figcaption {
    font: italic bolder 110% sans-serif;
    font-family: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #666;
}
article p {
    margin-left: 140px;
    hyphens: auto;
}
/*
==================================================================================
Tables
==================================================================================
*/

/* TODO Avsnitt 12.3 */

/*
==================================================================================
Nivo Slider
==================================================================================
*/

/* TODO Avsnitt 14.7.4 */

/*
==================================================================================
Forms (contact page)
==================================================================================
*/

/* TODO Avsnitt 13.8.2 */

/*
==================================================================================
Blog page, show and edit
==================================================================================
*/

/* Detta kommer i boken Webbserverprogrammering 1 */

/*
==================================================================================
Adaptive design
==================================================================================
*/
.tagline button {
    text-align: center;
    /* display: none; */ /* Aktivera */
}
@media (max-width: 750px) {
    .hwrap > a {
        margin-right: 25px;
    }
    /* Lägg till regler enligt kapitel 15 */
}

/* TODO Avsnitt 15.4.2 + arbetsboken */

